{{ define "title" }} {{ .Site.Title }} {{end}}
{{ define "header" }} {{ partial "header" . }} {{end}}
{{ define "main" }}

<div id="main">

  <!-- HERO -->
  <div id="hero">
    <h1>The <mark class="monospace black">Samizdat</mark> System</h1>
    <p>Your content, available.</p>
  </div>
  <div id="pitch" style="display: flex; align-items: center; flex-direction: column; padding-bottom: 48px">
    <p class="text-center" style="width: 55%">
      Samizdat is an App that enhances your experience in the Web by
      allowing your browser to access content in the Samizdat Network, which is a distrubuted
      <span class="highlight">self-publishing system</span>. Publish and view content you love
      <span class="highlight">without meddling intermediaries</span>.   
    </p>
  </div>
  <div id="action-buttons">
    <a class="button primary large" href="./install">Get Samizdat</a>
    <a class="button outline large" href="https://github.com/tokahuke/samizdat">View on Github</a>
    <p>All Samizdat Software is Free Software and is fully available free of charge.</p>
  </div>

  <!-- FEATURES -->
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <!-- <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure> -->
        <h3>Convenient</h3>
        <p>Forget about looking for platforms to serve your content.
          Deploy <span class="highlight">locally</span> and let your biggest fans serve it for you.
        </p>
      </div>
      <div class="col col-4 item">
        <!-- <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure> -->
        <h3>Escape Big-Tech Censorship</h3>
        <p>Samizdat is a carrier, not a publisher.
          <span class="highlight">This is not policy; this is design.</span>
        </p>
      </div>
      <div class="col col-4 item">
        <!-- <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure> -->
        <h3>Private</h3>
        <p>
          Only the parties serving and receiving content know what it is all about.
          No corporation-in-the-middle; no government-in-the-middle.</p>
      </div>
    </div>
  </div>

  <!-- PITCH -->
  <div class="row" style="padding-bottom: 32px; margin-bottom: 64px; border-bottom: 1px dashed rgba(0, 0, 0, 0.15);">
    <div class="col col-2"></div>
    <div class="col col-8 text-center">
      <h4 class="h2">
        It's just the <span class="highlight">Web</span> all over again,<br> But think of the
        <mark class="black">possibilities!</mark>
      </h4>
      <p class="large">
        By structuring the Web on <span class="highlight">content rather than on location,</span> we
        subvert the pervese incentives of having to trust big, meddling corporations to serve our
        content. Being a server <span class="highlight">is not the privilege of the big guy
        anymore.</span>
      </p>
    </div>
    <div class="col col-2"></div>
  </div>

  <div class="row" style="padding-bottom: 32px; margin-bottom: 64px; border-bottom: 1px dashed rgba(0, 0, 0, 0.15);">
    <div class="col col-2"></div>
    <div class="col col-8 text-center">
      <h4 class="h2">There is no place like <mark class="monospace black">localhost:4510</mark></h4>

      <div style="margin: 32px">
        <pre>http://localhost:4510/_series/kSOqsWHplK9cRdx9bzFo90QZilBQfNXxOJ1VntskfLQ/blog/change-the-world</pre>
        <small class="muted">A Samizdat link featuring: a blog post to change the world.</small>
      </div>

      <p class="large">
        <a href="./install">Install the Samizdat Node</a> and have immediate access
        to a whole new world of content, <span class="highlight">a world you can as well be part
        of!</span>
      </p>
    </div>
    <div class="col col-2"></div>
  </div>

  <div class="row">
    <div class="col col-2"></div>
    <div class="col col-8 text-center">
      <h4 class="h2">What are you <mark class="black">waiting</mark> for?</h4>
      <p class="large">Click on the big friendly button!</p>
      <div style="text-align: center; margin: 32px">
        <a href="./install" class="button large" role="button">Download Samizdat Today</a>
      </div>
    </div>
    <div class="col col-2"></div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
