// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap';


.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-family: $font-family-mono;
}

.text-monospace {
  font-family: $font-family-mono !important;
}

#hero-container {
  background-size: cover;
  background-repeat: no-repeat;

  background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,1.0)),
    url(/maria-remez-97-LElth_7c-unsplash.jpg);
}
