{{ define "head" }}
  
{{ end }}

{{ define "body" }}
  {{ if eq .Params.type "bare" }}
    {{ partial "header.html" . }}
    {{ .Content }}
    {{ partial "footer.html" . }}
  {{ else if eq .Params.type "article" }}
    {{ partial "article.html" . }}
  {{ else }}
    {{ partial "docs.html" . }}
  {{ end }}
{{ end }}

{{ define "scripts" }}
  <script>
    const samizdatPublicKey = "{{ .Site.Params.samizdatPublicKey }}";
    document.querySelectorAll(".template-origin").forEach(el => {
      el.textContent = el.textContent.replace('${origin}', window.origin)
    });
  </script>
  <script>
    document.querySelectorAll("a.samizdat-link").forEach(el => {
      const base = "http://localhost:4510/_series/" + samizdatPublicKey + "/";
      const fullLink = base + el.textContent;
      console.log(fullLink);
      el.textContent = fullLink;
      el.setAttribute("href", fullLink);
    });
  </script>
{{ end }}
