{{ define "head" }}
  
{{ end }}

{{ define "body" }}
  {{ if eq .Params.type "bare" }}
    {{ partial "header.html" . }}
    <main id="main" class="prose-samizdat mx-auto max-w-3xl px-6 pt-16 pb-24">
      {{ .Content }}
    </main>
    {{ partial "footer.html" . }}
  {{ else if eq .Params.type "article" }}
    {{ partial "article.html" . }}
  {{ else if eq .Params.type "docs" }}
    {{ partial "docs.html" . }}
  {{ else }}
    {{ warnf "No such document type %s" .Params.type }}
    {{ partial "docs.html" . }}
  {{ end }}
{{ end }}

