{{ define "head" }}
  
{{ end }}

{{ define "body" }}
  {{ if eq .Params.type "bare" }}
    {{ partial "header.html" . }}
    {{ $maxw := cond .Params.wide "max-w-5xl" "max-w-3xl" }}
    <main id="main" class="prose-samizdat {{ if .Params.wide }}is-wide {{ end }}mx-auto {{ $maxw }} px-6 pt-16 pb-24">
      {{ .Content }}
    </main>
    {{ partial "footer.html" . }}
  {{ else if eq .Params.type "article" }}
    {{ partial "article.html" . }}
  {{ else if eq .Params.type "docs" }}
    {{ partial "docs.html" . }}
  {{ else }}
    {{ warnf "No such document type %s" .Params.type }}
    {{ partial "docs.html" . }}
  {{ end }}
{{ end }}

