<footer class="border-top p-5 d-flex flex-direction-column" style="align-items: flex-start">
  <a
    class="ml-1 mr-5 mb-0 d-flex font-weight-bold text-monospace text-muted text-decoration-none"
    style="align-items:center;"
    href="/">
    {{ partial "icons/star-rate.html" . }}
    <span class="ml-1">SAMIZDAT</span>
  </a>
  <ul class="list-unstyled mr-auto">
    <li><small><a class="text-muted" href="/">Home</a></small></li>
    <li><small><a class="text-muted" href="/install">Install</a></small></li>
    <li><small><a class="text-muted" href="/blog">Blog</a></small></li>
    <li><small><a class="text-muted" href="/docs">Documentation</a></small></li>
  </ul>
  <small class="text-muted text-right">
    Copyright ©2021 Pedro B. Arruda<br>
    This page is licensed to you under the
    <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a> license.
  </small>
</footer>
