{{ define "head" }}
  
{{ end }}

{{ define "body" }}
  {{ partial "header.html" . }}
  <div id="hero-container">
    <section id="hero" class="d-flex py-5" style="flex-direction: column; align-items: center;">
      <div class="pt-5"></div>

      {{ partial "icons/star-rate-primary.html" . }}

      <h1 class="text-monospace font-weight-bold pt-4">
        The SAMIZDAT SYSTEM
      </h1>
      <p class="pt-3 h4">
        Your content, <u>available</u>.
      </p>
      
      <!-- <p class="text-center text-monospace pt-3" style="width: 35%">
        Tired of <u>cancel culture</u>? <br>
        Of <u>big-tech</u> censorship? <br>
        Of <u>big-government</u> censorship?
      </p> -->
      <p class="text-center text-monospace" style="width: 35%">---</p>
      <p class="text-center text-monospace" style="width: 35%">
        SAMIZDAT is a distributed <u>self-publishing system</u>.
        Publish and view content you love in the Internet <u>without meddling intermediaries</u>!
      </p>
    </section>

    <section id="buttons" class="d-flex" style="flex-direction: column; align-items: center;">
      <div class="pb-4 text-center">
        <a class="btn btn-lg btn-secondary text-monospace" href="/install">
          Get Samizdat
        </a>
        <a
          class="btn btn-lg btn-outline-primary text-monospace ml-4"
          href="https://github.com/tokahuke/samizdat"
        >
          View on GitHub
        </a>
        <p class="mt-2 text-muted text-small">
          All Samizdat Software is <u>Free Software</u> and is fully available free of charge.
        </p>
      </div>
    </section>
    <!-- <div id="transition" style="padding-top: 40px;"></div> -->
  </div>


  <section id="features" class="text-center" style="margin: 4em 0; min-height: 256px;">
    <h2 class="text-monospace font-weight-bold">How it works</h2>
    <div class="container" style="margin-top: 2em;">
      <div class="row">
        <div class="col">
          <h3 class="text-monospace">1.</h3>
          <p>Build your site locally, in your own computer</p>
        </div>
        <div class="col">
          <h3 class="text-monospace">2.</h3>
          <p>Publish to the Samizdat network, a peer-to-peer content distribution system.</p>
        </div>
        <div class="col">
          <h3 class="text-monospace">3.</h3>
          <p>People who visit your site will propagate your ideas further, using their cache.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-pastel">
    <div class="container-fluid row text-center" style="padding: 8em 0;">
      <div class="col"></div>
      <div class="col-6 text-center">
        <h4 class="text-monospace h2">
          This webpage is already part of the SAMIZDAT network
        </h4>
        <p class="large">
          And you didn't even notice! If you just landed here, you are seeing a <u>proxied</u> version of this website. But why rely on an intermediary? <a href="/install">Download</a> SAMIZDAT and get the native experience.
        </p>
      </div>
      <div class="col"></div>
    </div> 
  </section>

  <section id="features" class="text-center d-flex justify-content-center align-items-center w-100" style="margin: 4em 0;">
    <h2 class="text-monospace font-weight-bold ml-auto">The upside</h2>
    <div class="container" style="margin-top: 2em; max-width: 33%; text-align: center;">
      <div class="row mb-2">
        <h3 class="text-monospace w-100">Convenient</h3>
        <p>Forget about looking for platforms to serve your content.
          Deploy <u>locally</u> and let your biggest fans serve it for you.
        </p>
      </div>
      <div class="row">
        <h3 class="text-monospace w-100">Private</h3>
        <p>
          Only the parties serving and receiving content know what it is all about.
          No corporation-in-the-middle; no government-in-the-middle.</p>
      </div>
    </div>
  </section>

  <section class="bg-pastel">
    <!-- PITCH -->
    <div class="container-fluid row text-center" style="padding: 8em 0;">
      <div class="col"></div>
      <div class="col-6 text-center">
        <h4 class="text-monospace h2">
          It's just the Web all over again. But think of the
          <u>possibilities</u>!
        </h4>
        <p class="large">
          By structuring the Web on <u>content rather than on location,</u> we
          bypass the the big servers and the big companies. Your content is not
          on Google or on Meta; it's with your audience. 
        </p>
      </div>
      <div class="col"></div>
    </div> 
  </section>

  {{ partial "footer.html" . }}
{{ end }}
